:root {
    --insane_blue:#13293D;
    --hard_blue: #006494;
    --medium_blue:#247BA0;
    --light_blue: #1B98E0;
    --not_blue: #E8F1F2;
}

.navcolor {
    background-color: var(--insane_blue);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.nav-link {
    color:var(--not_blue);
}